{{> header }}

<div class="alert alert-primary" role="alert">
    <h1> {{student}} gallery</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Back to home</a>
</div>

<img src="https://picsum.photos/200/300" class="img-fluid" alt="Responsive image">
<img src="https://picsum.photos/200/300" class="img-fluid" alt="Responsive image">
<img src="https://picsum.photos/200/300" class="img-fluid" alt="Responsive image">
<img src="https://picsum.photos/200/300" class="img-fluid" alt="Responsive image">
<img src="https://picsum.photos/200/300" class="img-fluid" alt="Responsive image">


{{> footer }}
